<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>974924355319-aj72k5lgd0566hbi481lafgk8gva86f4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.974924355319-aj72k5lgd0566hbi481lafgk8gva86f4</string>
	<key>API_KEY</key>
	<string>AIzaSyBKD-VqlJINDmOgair-c0TDDx1htHPLJjg</string>
	<key>GCM_SENDER_ID</key>
	<string>974924355319</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rubik.csriabilita.csriabilita</string>
	<key>PROJECT_ID</key>
	<string>cs-riabilita</string>
	<key>STORAGE_BUCKET</key>
	<string>cs-riabilita.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:974924355319:ios:08d1643a5e84b7ccebe5f2</string>
	<key>DATABASE_URL</key>
	<string>https://cs-riabilita.firebaseio.com</string>
</dict>
</plist>